---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div> 

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      <a href={{ "/sobre/" | prepend: site.baseurl }}>Sobre</a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
       {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href={{ "/papers/" | prepend: site.baseurl }}>Artigos</a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href={{ "https://douglasdonin.substack.com" | prepend: site.baseurl }}>Blog</a>
      &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href={{ "/contato/" | prepend: site.baseurl }}>Contato</a>
                       
    </div>
</header>

<main class="content" role="main">
    <div class="cf frame">
      {% for post in paginator.posts %}

Douglas Oliveira Donin é Advogado em Porto Alegre-RS e pesquisador na área de Direito, Tecnologia e Economia Comportamental.

# Formação:

Mestre em Direito Civil e Empresarial (2020), Especialista em Direito Internacional e Direito da Integração (2011) e Graduado em Ciências Jurídicas e Sociais (2006) pela Universidade Federal do Rio Grande do Sul, onde também cursou graduação em Ciências Econômicas (2012) e Jornalismo (2007).

[Cientista de Dados](https://www.datacamp.com/statement-of-accomplishment/track/511133166fbf7d9554ba76444758dc07c3fce784 "Certificado de Cientista de Dados com Python") (2020) e [Programador Python](https://www.datacamp.com/statement-of-accomplishment/track/796af99ebee43178905017c408c0897712111468 "Certificado de Programador Python") (2020) pela DataCamp.

Inscrito na ordem dos Advogados do Brasil (2007).

Além da advocacia, trabalha com desenvolvimento de sistemas em Python, Javascript (Node, React), PHP, Java e R, com foco em análise de dados.  
        
        {% for post in paginator.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
@@ -54,19 +56,7 @@ <h2 class="post-title" itemprop="name"><a href="{{ post.url | prepend: site.base
      {% endfor %}
    </div>
